<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pi Led Controller</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
</style>
</head>
<body>
  <div>
    Temperatura: <span id='currentTemperature'>.. .</span> °C
  </div>
  <div>
    Stato attuale: <span id='currentState' class='led'></span>
  </div>
  <div class='buttons'>
    <a href='#' class='button' id='changeStatus'>
      <span class='led small'></span>
      <span class='text'></span>
    </a>
  </div>
  <script>
    $(document).ready(function(){
      function changeHtmlClassesBy(status) {
        var statusClass = status ? 'on' : 'off'
        var buttonClass = status ? 'off' : 'on'
        var buttonText = status ? 'Spegni' : 'Accendi'

        $('#currentState').attr('class', 'led ' + statusClass)
        $('#changeStatus > .led').attr('class', 'led small ' + buttonClass)
        $('#changeStatus > .text').html(buttonText)
      }

      function hasNoErrors(response) {
        if(response.err) {
          location.reload()
          return false
        }
        return true
      }

      function handleStatus(response) {
        if (hasNoErrors(response)) {
          changeHtmlClassesBy(response.value)
        }
      }

      function handleTemperature(response){
        if (hasNoErrors(response)) {
          $('#currentTemperature').html(response.value)
        }
      }

      function getTemperature() {
        $.get('/thermostat/temperature', handleTemperature)
      }

      function getStatus() {
        var toggleStatus = $('#currentState').hasClass('off')
        $.get('/thermostat/status', handleStatus)
      }

      function updateStatus() {
        var toggleStatus = $('#currentState').hasClass('off')
        $.post('/thermostat/status', {status: toggleStatus}, handleStatus)
      }

      $('#changeStatus').on('click', function (){
        updateStatus()
      })

      getStatus()
      getTemperature()
      setInterval(getStatus, 10000)
      setInterval(getTemperature, 300000)
    })
  </script>
</body>
</html>

