<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pi Led Controller</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</style>
</head>
<body>
  <div>
    Temperatura: <span id='currentTemperature'>.. .</span>
  </div>
  <div>
    Stato attuale: <span id='currentState' class='led'></span>
  </div>
  <div class='buttons'>
    <a href='#' onclick='changeStatus();' class='button' id='changeStatus'>
      <span class='led small'></span>
      <span class='text'></span>
    </a>
  </div>
</body>
</html>

