.led {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  position: relative;
  top: 5px;
}
.led.on {
  background: green;
  border-color: #0b410b;
}
.led.off {
  background: red;
  border-color: #a40d0d;
}
.led.small {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: static;
}

.buttons {
  margin-top: 20px;
}
.button {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  background: #e3e3e3;
  border-radius: 5px;
  border: 1px solid #c3bdbd;
  color: black;
}
