html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Montserrat
}

* {
  box-sizing: border-box;
}

#thermostat-panel {
  width: 100vw;
  height: 100vh;
  background: #293133;
  color: #E4E5E0;
  text-align: center;
  overflow: hidden;
}

#thermostat-panel .temperature {
  background: #434B4D;
  height: 10vh;
  line-height: 10vh;
  font-size: 1.3em;
}

#thermostat-panel .temperature .fa {
  margin-right: 10px;
}

#thermostat-panel .current-schedule {
  height: 70vh;
  line-height: 70vh;
  position: relative;
}

#thermostat-panel .current-schedule .circle {
  overflow: hidden;
  display: inline-block;
  line-height: 190px;
  margin: -90px auto;
  width: 190px;
  height: 190px;
  background: #31b0d5;
  -webkit-border-radius: 95px;
  -moz-border-radius: 95px;
  -ms-border-radius: 95px;
  -o-border-radius: 95px;
  border-radius: 95px;
}

#thermostat-panel .current-schedule .circle.on {
  background: #ec971f;
}

#thermostat-panel .current-schedule .circle .circle-inner {
  display: inline-block;
  line-height: 10px;
  vertical-align: middle;
}

#thermostat-panel .current-schedule .circle .icon {
  display: inline-block;
  width: 190px;
  font-size: 1.5em;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin-bottom: 5px;
  opacity: 0.8;
}

#thermostat-panel .current-schedule .circle.on .icon {
  font-size: 2em;
}

#thermostat-panel .current-schedule .circle .scheduled-temperature {
  display: inline-block;
  width: 190px;
  font-size: 2.5em;
  margin: 10px 0 3px 0;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

#thermostat-panel .current-schedule .circle .scheduled-time {
  display: inline-block;
  width: 190px;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
  margin-bottom: 50px;
}

#thermostat-panel .current-schedule > .fa-chevron-down {
  position: absolute;
  bottom: 25px;
  color: white;
  width: 100px;
  margin-left: -50px;
  left: 50%;
  font-size: 4em;
  opacity: 0.2;
}

#thermostat-panel .next-schedule {
  background: #434B4D;
  height: 20vh;
  line-height: 20vh;
}

#thermostat-panel .next-schedule .circle {
  background: #6b787b;
  height: 15vh;
  width: 15vh;
  display: inline-block;
  border-radius: 58px;
  vertical-align: middle;
  line-height: 3vh;
  text-align: center;
  font-size: 1.3em;
  margin: 0 20px;
}

#thermostat-panel .next-schedule .circle > .temp {
  margin-top: 4.4vh;
  display: inline-block;
  width: 15vh
}

#thermostat-panel .next-schedule .circle > .next-time {
  display: inline-block;
  font-size: 0.5em;
}

#thermostat-panel .next-schedule > .next-time {
  display: none;
}

#schedule-panel {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  #thermostat-panel {
    width: 25vw;
    float: left;
  }

  #schedule-panel {
    display: block;
    width: 75vw;
    float: left;
  }
}
